################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab01/.vs/Lab01/v15
/Lab01/Debug
/Lab01/Lab01/Debug
